header{background-color: rgb(71, 34, 173); color: #000;}
*{
    margin: 0;
    padding: 0;
}


.cabecalho{ 
    background-color: rgba(67, 3, 243, 0.397); 
    color: #000;}
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;


.cabecalho-imagem{
    widht: 20%

}

.cabecalho-lista-item{
      display: inline-block;
      margin: 0 16px;
      font-size: 24px;